<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus, minus eos perspiciatis vero at placeat doloremque laudantium vel libero? Reiciendis repudiandae quaerat nesciunt voluptatem nulla asperiores, corrupti sequi nam.</p>
    </div>
</section>